.edit-place-container {
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-place-container .form-btn {
    background-color: gainsboro;
    transition: all 250ms ease;
}

.edit-place-container .form-btn:hover {
    background-color: gray;
}