/* Default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    background-color: #79a9af;
}
/* Home page banner */
.banner.img-container {
    width: 100%;
    height: 18vw;
    min-height: 300px;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url('./images/banner.jpg')center center/cover no-repeat ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner.img-container a{
    color: whitesmoke;
    font-size: 1.7rem;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn-primary {
    background-color: #f4e8c1;
    color: #235789;
    border: none;
    padding: .8rem 1.2rem;
    font-size: 1.3rem;
}
.btn-primary:hover {
    cursor: pointer;
}