* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html, body {
    height: 100%;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #79a9af;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
}
img {
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
textarea {
    resize: none;
}
.block {
    display: block
}
.wrapper {
    width: 75%;
    margin: 0 auto;
}

/* Buttons */
.btn-primary {
    background-color: #79a9af;
    color: whitesmoke;
    border: none;
    padding: .8rem 1.2rem;

    border-radius: 8px;
}
.btn-primary:hover {
    cursor: pointer;
}
.banner-btn {
    color: white;
    padding: .8rem 1.6rem;
    background-color: #3babab;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-align: center;
}