@import url('./defaults.css');
@import url('./components/header.css');
@import url('./components/editsec.css');
@import url('./components//addplacesec.css');
#banner-h1 {
    letter-spacing: 3px;
}
.banner-btn {
    color: white;
    padding: .8rem 1.6rem;
    background-color: #3babab;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-align: center;
}
.desc{
    color: whitesmoke;
    padding: 1.3rem;
}
.places-content h1{
    text-align: center;
    padding: 1rem;

}
.places-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}
.places-container .card {

}
.place-link {
    display: inline-block;
}
.place-btn-container a{
    margin-bottom: .8rem;
    display: inline-block;
    color: inherit;
}
.place-show-container {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.4rem;
    padding: 4rem 0.8rem;
}
.place-rating-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-self: center;
}
.comments-section {
    grid-column: 1/-1;
    text-align: center;
    padding: 1.6rem;

}
.comments-section h2 {
    padding: .8rem;
}
.rating-details {
    padding: .8rem 0;

}
.rating-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    text-align: center;
}
.current-comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.comments-form h2 {
    padding: 1rem;
}
.comment-form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.comment-form-container form {
    display: flex;
    flex-direction: column;
}
.form-btn {
    background-color: whitesmoke;
    color: black;
    padding: .4rem;
    margin-bottom: .3rem;
    border: none;
}
@media screen and (max-width: 1110px){
    .current-comments {
        flex-direction: column;
    }
    .place-rating-card {
        grid-column: 1/-1;
    }
    .rating-section {
        grid-column: 1/-1;
    }
    .rating-stars {
        padding: .8rem;
    }
    .comment-form-container {
        flex-direction: column;
    }
    .comment-form-container form {
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 776px){
    .rating-section {

        margin: .8rem;
    }
}