.add-place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.add-place form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.form-group .form-control {
    width: 100%;
    margin-bottom: .8rem;
    padding: .4rem;
}
.form-group .form-control input {
    padding: .4rem;
}
.add-place form .formBtn {
    align-self: center;
    padding: .3rem;
}